body {
  font-family: 'Clicker', sans-serif;
  background-color: #2B2B2B;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/rough_fleck_texture.jpg');
  background-size: cover;
  background-position: center center;
  opacity: 0.03;
  z-index: -1;
}